# Manipulación y análisis de datos
pandas==3.0.2
numpy==2.4.3

# Visualización
matplotlib==3.10.8
plotly==6.7.0

# Notebooks Jupyter
ipykernel==7.2.0
ipywidgets==8.1.8

# Llamadas a APIs externas
requests==2.33.1

# Calendario de festivos
holidays==0.95

# Modelo predictivo principal: Prophet
prophet==1.3.0
cmdstanpy==1.3.0

# Modelo de referencia: SARIMA
statsmodels==0.14.6
pmdarima==2.0.4

# Compatibilidad con pmdarima
scikit-learn==1.5.2

# Panel de visualización
streamlit==1.57.0
# plotly==5.24.1